html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #000000;
  font-family: Arial, Helvetica, Sans-serif;
  color: #8c8c8c;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: unset;
    background-image: url(../img/series-netflix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
}

a {
  color: #8c8c8c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
}

.logotipo {
  margin-top: .5rem;
  max-width: 180px;
  margin-left: 5%;
}

@media only screen and (min-width: 768px) {
  .logotipo {
    margin-left: 2%;
    margin-top: .8rem;
  }
}

@media only screen and (min-width: 768px) {
  .formulario-login {
    background-color: rgba(0, 0, 0, 0.85);
    max-width: 450px;
    padding: 2rem 4rem;
    margin: 1.5rem auto 4rem auto;
  }
}

form legend {
  color: #ffffff;
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: bold;
}

form .campo {
  display: flex;
  position: relative;
  margin-bottom: 1.8rem;
}

form .campo input {
  flex: 1;
  padding: 1.3rem 1rem .7rem 1rem;
  border: none;
  background-color: #323232;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-bottom: 2px solid #e87c03;
}

form .campo input:focus {
  background-color: #454545;
  outline: none;
}

form .campo input:focus + label {
  font-size: .6rem;
  top: .5rem;
}

form .campo label {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  transition: font-size .2s ease, top .2s ease;
  -webkit-transition: font-size .2s ease, top .2s ease;
  -moz-transition: font-size .2s ease, top .2s ease;
  -ms-transition: font-size .2s ease, top .2s ease;
  -o-transition: font-size .2s ease, top .2s ease;
}

form .submit {
  display: flex;
  margin-top: 2rem;
}

form .submit input[type="submit"] {
  background-color: #e50914;
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
}

form .acciones {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  margin-top: .5rem;
  text-align: center;
  margin: .5rem 0 8rem 0;
}

form .acciones label,
form .acciones a {
  font-size: .8rem;
  text-decoration: none;
}

.contenido-inferior {
  padding-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .contenido-inferior {
    padding-bottom: 0;
  }
}

.contenido-inferior a {
  font-size: .8rem;
}

.contenido-inferior .nuevo-usuario {
  font-size: 1rem;
  margin-top: 1rem;
  display: flex;
}

.contenido-inferior .nuevo-usuario a {
  color: #ffffff;
  margin-left: .5rem;
  font-size: 1rem;
}

.site-footer {
  border-top: 1px solid #8c8c8c;
  padding: 2rem 0 4rem 0;
}

@media only screen and (min-width: 768px) {
  .site-footer {
    border-top: unset;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem 0 3rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .site-footer .contenedor {
    max-width: 60%;
  }
}

.site-footer .menu-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1200px) {
  .site-footer .menu-footer {
    max-width: 60%;
  }
}

.site-footer .menu-footer a {
  font-size: .8rem;
  margin-right: 2rem;
  flex: 0 0 auto;
  padding: .5rem 0;
}

.site-footer .menu-footer a:last-of-type {
  margin-right: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem 3rem;
  border: 1px solid #454545;
  border-radius: 5px;
  font-size: .8rem;
  background-color: #000000;
  color: #8c8c8c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
